@import '~antd/dist/antd.css';

// Set font to Poppins everywhere
* {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 2vh 5vw;
  overflow: hidden;
}

// Use below for color variables and defaults

$black: #333333 !default;
$border-radius: 0.25rem !default;

// Use the below for headings

.title {
  font-size: 20px;
  font-weight: 500;
  color: $black;
}
