@import '~antd/dist/antd.css';

// Set font to Poppins everywhere
* {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 2vh 5vw;
}

// Use below for color variables and defaults

$black: #333333 !default;
$border-radius: 0.25rem !default;

// Use the below for headings

.title {
  font-size: 20px;
  font-weight: 500;
  color: $black;
}

.l-styles {
  border-radius: 40px;
  color: #E84F86;
  width: 300px;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  margin: 7px 0px;
}

