.ProfilePage {

    h1 {
        color: white;
    }

    .profilebg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .TitleCard {
        h2 {
            color: white;
        }
    }
}