.write-post-container {
    border: 1px solid #DDD;         
    border-radius: 12px;
    padding: 12px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-button {
        width: 125px;
    }

    .write-post-header {
        font-weight: 600;
        margin: 2vw;
    }

    .write-post-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2vw;

        .post-input {
            border-radius: 5px;
            border: 1px solid #DDD;
        }

        .post-options {
            display: flex;
            justify-content: space-around;
            margin: 1vw;

            p {
                font-size: 0.8em;
            }
        }
    }

}

.Modal {
    .rating {
        width: 100%;
    }

    .modal-body {
        .ant-input-group {
            width: 87vw;
        }
    }
}