.UserSettings {
  .Row {
    display: flex;
    justify-content: space-between;

    .edit {
      background-color: rgb(255, 255, 255, .2);
      border-radius: 33px;
      width: 155px;
      color: white;

      input.ant-input {
        background-color: rgb(255, 255, 255, 0);
        color: white;
      }
    }
  }

}
