.FriendCard {
  .f-row {
    display: flex;
  }
}

.Friend {
  margin-right: 7vw;
  text-align: center;

  .profilePicture {
    margin-bottom: 12px;
  }

  h4 {
    line-height: 12px;
  }

  p {
    line-height: 16px;
  }
}