.TitleCard {
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 32px;
        font-weight: 600;
    }

    .profilePicture {
        width: 49px;
        height: 49px;
        // Remove for a6
        filter: grayscale(100%)
    }
}

